main{
    font-family:'Arial Narrow Bold', 'sans-serif';
    font-size: 16px;
}

#navbar{
    height: 100%;
    width:270px;
    position:fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

#navbar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;

}

#navbar a:hover{

    color: red;


}

#main-doc{
    margin-left: 270px;
    padding: 0px 10px;
}
@media screen and (max-height: 450px){
    #navbar {
        padding-top: 15px 
    }
    #navbar a{
       font-size: 18px; 
    }

}
